@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.hero-bg-photo {
  object-position: center 10%;
  transform: translateY(132px) scale(1.25);
}

@media (min-width: 768px) {
  .hero-bg-photo {
    transform: translate(90px, 132px) scale(1.25);
  }
}
